<div class="addon-container">
  <div class="header-content">
    <div class="content">
      <div class="spacing-element title">
        <pep-separator
          key="sep1"
          label="Import type definition"
          xAlignment="'left'"
        >
        </pep-separator>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="content">
      <div class="child1 child-container">
        <div
          class="container"
          *ngIf="!showConflictResolution && !showWebhooksResolution"
        >
          <pep-select
            [key]="'select1'"
            [label]="'Select activity to import'"
            [options]="activityTypes"
            (valueChanged)="elementClicked($event)"
          >
          </pep-select>
          <pep-attachment
            [key]="'attachment1'"
            [label]="'Pepperi Attachment'"
            (valueChanged)="onFileSelect($event)"
          >
          </pep-attachment>
          <button
            (click)="importAtd()"
            rowSpan="2"
            mat-button
            class="spacing-element pep-button md strong ellipsis"
          >
            Import
          </button>
        </div>
        <p>showConflictResolution: {{ showConflictResolution | json }}</p>
        <div [ngClass]="{ 'hide-list': !showConflictResolution }">
          <div class="list-container" #listContainer>
            <pep-list
              [firstFieldAsLink]="false"
              [isReport]="true"
              [supportSorting]="false"
              [supportResizing]="false"
              [selectionTypeForActions]="2"
              [noDataFoundMsg]="'No data'"
              [parentScroll]="listContainer"
              (notifyListChanged)="onListChange($event)"
              (notifyFieldClicked)="onCustomizeFieldClick($event)"
              (notifySelectedItemsChanged)="selectedRowsChanged($event)"
            >
            </pep-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
